@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-Appet:before {
  content: "\e900";
}

._icon-arr:before {
  content: "\e901";
}

._icon-desert:before {
  content: "\e902";
}

._icon-drink:before {
  content: "\e903";
}

._icon-fast:before {
  content: "\e904";
}

._icon-inst:before {
  content: "\e905";
}

._icon-main:before {
  content: "\e906";
}

._icon-moped:before {
  content: "\e907";
}

._icon-Star:before {
  content: "\e908";
}

._icon-tw:before {
  content: "\e909";
}

._icon-ver:before {
  content: "\e90a";
}

._icon-yt:before {
  content: "\e90b";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #271500;
  line-height: 1;
  font-family: "Poppins";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #fffcf9;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 85.625rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.link {
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.link:hover {
  top: -1px;
  color: #e78d26;
  text-shadow: 0px 0px 0px 2px rgba(13, 34, 165, 0.5);
}

.link:active {
  top: 1px;
  text-shadow: 0px 0px 0px 0px rgb(236, 234, 234);
}

.link::after {
  content: "";
  /*Content property must be set else this element will not show up on the page. */
  width: 100%;
  height: 2px;
  background-color: #e78d26;
  border-radius: 4px;
  /*Applies roundness to the bar. */
  position: absolute;
  /*Allows for this element to be moved freely within the parent box that has the position of relative. */
  left: 0;
  /*Starting left position will be 0. */
  bottom: -3px;
  /*Starting bottom position will be 0 since we want to place this element under the link text. */
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  /*We scale the width of this element on the X axis to 0 because we do not want to see it until hovered. */
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  /*By default, transform origin is the center, meaning the bar would grow from the center if we don't change this. We set it to the left so that it grows from the left instead. */
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  /*Since we want to animate the transform property that is what we apply the transition to. */
}

.link:hover::after {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  /*When the link is hovered, we target the pseudo-element and turn the scaleX back to 1. This will make it grow back to the initial width of 100%. */
}

.link::before {
  content: "";
  /*Content property must be set else this element will not show up on the page. */
  width: 100%;
  height: 2px;
  background-color: #e78d26;
  border-radius: 4px;
  /*Applies roundness to the bar. */
  position: absolute;
  /*Allows for this element to be moved freely within the parent box that has the position of relative. */
  left: 0;
  /*Starting left position will be 0. */
  bottom: -3px;
  /*Starting bottom position will be 0 since we want to place this element under the link text. */
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  /*We scale the width of this element on the X axis to 0 because we do not want to see it until hovered. */
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  /*By default, transform origin is the center, meaning the bar would grow from the center if we don't change this. We set it to the left so that it grows from the left instead. */
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  /*Since we want to animate the transform property that is what we apply the transition to. */
}

.link:hover::before {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  /*When the link is hovered, we target the pseudo-element and turn the scaleX back to 1. This will make it grow back to the initial width of 100%. */
}

.title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.21875;
  text-align: center;
}

.sub {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2083333333;
  color: #e78d26;
}

.btn {
  padding: 1.125rem 2.1875rem;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #ffffff;
  background: #e78d26;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease, -webkit-box-shadow 0.6s ease;
  transition: all 0.3s ease, -webkit-box-shadow 0.6s ease;
  -o-transition: all 0.3s ease, box-shadow 0.6s ease;
  transition: all 0.3s ease, box-shadow 0.6s ease;
  transition: all 0.3s ease, box-shadow 0.6s ease, -webkit-box-shadow 0.6s ease;
}

.btn:hover {
  color: #fff;
  background: #c9781c;
  -webkit-box-shadow: inset 10px 5px 30px 2px rgba(255, 208, 172, 0.4), 2px 2px 10px #d37203;
          box-shadow: inset 10px 5px 30px 2px rgba(255, 208, 172, 0.4), 2px 2px 10px #d37203;
}

.btn:focus {
  color: #fff;
  background: #c9781c;
}

.btn:active {
  -webkit-box-shadow: inset 10px 5px 60px 2px rgba(255, 208, 172, 0.1), 2px 2px 2px #d37203;
          box-shadow: inset 10px 5px 60px 2px rgba(255, 208, 172, 0.1), 2px 2px 2px #d37203;
}

.header {
  background: #ffe1c0;
}

.header__container {
  padding-top: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  position: relative;
}

.header__logo {
  display: inline-block;
  padding-bottom: 1rem;
  position: relative;
  z-index: 20;
}

.header__menu {
  max-width: 35rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__buttons-nav {
  display: none;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.header__btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  border-radius: 10px;
  color: #e78d26;
  padding: 0.9375rem 0.875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-transition: all 0.3s ease, -webkit-box-shadow 0.6s ease;
  transition: all 0.3s ease, -webkit-box-shadow 0.6s ease;
  -o-transition: all 0.3s ease, box-shadow 0.6s ease;
  transition: all 0.3s ease, box-shadow 0.6s ease;
  transition: all 0.3s ease, box-shadow 0.6s ease, -webkit-box-shadow 0.6s ease;
}

.header__btn:hover {
  color: #fff;
  background: #e78d26;
  -webkit-box-shadow: inset 10px 5px 60px 2px rgba(255, 208, 172, 0.4), 2px 2px 10px #d37203;
          box-shadow: inset 10px 5px 60px 2px rgba(255, 208, 172, 0.4), 2px 2px 10px #d37203;
}

.header__btn:focus {
  color: #fff;
  background: #e78d26;
}

.header__btn:active {
  -webkit-box-shadow: inset 10px 5px 60px 2px rgba(255, 208, 172, 0.1), 2px 2px 2px #d37203;
          box-shadow: inset 10px 5px 60px 2px rgba(255, 208, 172, 0.1), 2px 2px 2px #d37203;
}

.menu__body {
  width: 100%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}

.menu__link {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5;
  /* identical to box height */
  color: #000000;
}

.icon-menu {
  display: none;
}

.footer {
  background: #ffe1c0;
}

.footer__container {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.footer__content {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas: "item item1 item2 item3";
  gap: 20px;
  padding-bottom: 2.5rem;
}

.footer__content .item {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: item;
}

.footer__content .item1 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: item1;
}

.footer__content .item2 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: item2;
}

.footer__content .item3 {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: item3;
}

.footer__logo {
  margin-bottom: 2.5rem;
  display: inline-block;
}

.footer__logo-img {
  width: 100%;
}

.footer__text {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 180%;
  /* or 25px */
  color: #8a8783;
  max-width: 15.375rem;
  margin-bottom: 4.375rem;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.footer__social-link {
  border: 0.5px solid #81736b;
  border-radius: 50%;
  display: inline-block;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer__social-link:hover {
  background: #ff843f;
  border: none;
}

.footer__icon {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: #81736b;
  line-height: 1;
}

.footer__icon:hover {
  color: #fff;
}

.footer__title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #656567;
  padding-top: 1.875rem;
  margin-bottom: 1.875rem;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.footer__link {
  font-size: 1.125rem;
  line-height: 1.5;
  color: #656567;
}

.footer__form-text {
  font-size: 1.125rem;
  line-height: 1.5;
  color: #656567;
  max-width: 14.75rem;
  margin-bottom: 0.75rem;
}

.footer__form {
  position: relative;
}

.footer__input {
  background: #ffffff;
  border: 1px solid #ffe1c0;
  border-radius: 20px;
  padding: 0.625rem 2.8125rem 0.625rem 0.9375rem;
}

.footer__input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 0.75rem;
  color: #656567;
  padding: 0.9375rem 2.5rem;
}

.footer__input::-moz-placeholder {
  font-weight: 500;
  font-size: 0.75rem;
  color: #656567;
  padding: 0.9375rem 2.5rem;
}

.footer__input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 0.75rem;
  color: #656567;
  padding: 0.9375rem 2.5rem;
}

.footer__input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 0.75rem;
  color: #656567;
  padding: 0.9375rem 2.5rem;
}

.footer__input::placeholder {
  font-weight: 500;
  font-size: 0.75rem;
  color: #656567;
  padding: 0.9375rem 2.5rem;
}

.footer__button {
  display: inline-block;
  font-size: 1.375rem;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translatey(-50%);
      -ms-transform: translatey(-50%);
          transform: translatey(-50%);
  color: #969393;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer__button:hover {
  color: #e78d26;
  -webkit-filter: drop-shadow(1px 1px 2px rgba(81, 81, 81, 0.2));
          filter: drop-shadow(1px 1px 2px rgba(81, 81, 81, 0.2));
}

.footer__button:active {
  -webkit-filter: drop-shadow(0px 0px 0px rgba(81, 81, 81, 0.2));
          filter: drop-shadow(0px 0px 0px rgba(81, 81, 81, 0.2));
}

.footer__bottom {
  padding-top: 1.125rem;
  padding-bottom: 0.5rem;
  text-align: center;
  border-top: 1px solid #d3cdcd;
}

.footer__copy {
  font-size: 1rem;
  letter-spacing: 0.01em;
  /* Dark Grey-021633 */
  color: #021633;
}

.hero {
  background: #ffe1c0;
}

.hero__container {
  position: relative;
  padding-top: 4.375rem;
}

.hero__title {
  max-width: 40rem;
  margin: 0 auto;
  margin-bottom: 2.5rem;
  position: relative;
  z-index: 10;
}

.hero__image-wrap {
  position: relative;
}

.hero__image {
  overflow: hidden;
  position: relative;
  z-index: 10;
  margin: 0 auto;
  max-width: 53.75rem;
}

.hero__img {
  width: 100%;
  position: relative;
  bottom: -30px;
}

.hero__deco-1 {
  max-width: 11.25rem;
  position: absolute;
  top: 80px;
  left: -120px;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.hero__deco-2 {
  position: absolute;
  bottom: 120px;
  right: -100px;
  max-width: 15rem;
  z-index: 8;
}

.hero__canvas-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.hero__canvas {
  position: relative;
  max-width: 56.25rem;
  margin: 0 auto;
  margin-top: 3.125rem;
}

.hero__canvas-img {
  width: 100%;
  position: absolute;
  top: 0;
}

.hero__canvas-img-1 {
  z-index: 1;
}

.hero__canvas-img-2 {
  z-index: 2;
}

.hero__canvas-img-7 {
  position: static;
}

.hero__rewiev {
  position: absolute;
  bottom: 242px;
  z-index: 12;
  left: 10%;
  max-width: 20.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 0.5rem 0.875rem;
}

.hero__avatar-image {
  max-width: 3.75rem;
  border-radius: 50%;
  overflow: hidden;
}

.hero__avatar-img {
  width: 100%;
}

.hero__rewiev-name {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 180%;
  /* or 25px */
  color: #221e1e;
}

.hero__rewiev-text {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 180%;
  /* or 25px */
  color: #221e1e;
}

.hero__stat {
  position: absolute;
  bottom: 173px;
  right: 20%;
  z-index: 12;
  background: #ffffff;
  -webkit-box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  max-width: 9.5rem;
  text-align: center;
  padding: 0.9375rem 1.125rem;
  padding-bottom: 1.6875rem;
}

.hero__count {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 56px;
  line-height: 1.2142857143;
  text-align: center;
  color: #ff843f;
}

.hero__stat-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.2222222222;
  color: #271500;
}

.hero__stat-text {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.25;
  /* identical to box height */
  text-transform: capitalize;
  color: #271500;
}

.about__container {
  padding-top: 12.5rem;
  padding-bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.about__content {
  max-width: 34.875rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.about__sub {
  margin-bottom: 0.5rem;
}

.about__title {
  font-size: 3rem;
  text-align: left;
  margin-bottom: 1.625rem;
}

.about__text {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 180%;
  /* or 32px */
  color: #8a8783;
  margin-bottom: 4.375rem;
}

.about__images {
  max-width: 41.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
  position: relative;
}

.about__images-left {
  max-width: 19.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
}

.about__image-1 {
  border-radius: 200px 0px;
  overflow: hidden;
  aspect-ratio: 312/510;
}

.about__img {
  width: 100%;
}

.about__img-1 {
  width: 150%;
  position: relative;
  top: -30px;
}

.about__images-right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__image-2 {
  border-radius: 0px 200px;
  aspect-ratio: 326/200;
}

.about__image {
  overflow: hidden;
  position: relative;
}

.about__img-2 {
  position: relative;
  top: -40px;
}

.about__image-3 {
  -webkit-clip-path: ellipse(50% 100% at 50% 100%);
          clip-path: ellipse(50% 100% at 50% 100%);
  aspect-ratio: 2/1;
  width: 90%;
}

.about__img-3 {
  position: relative;
  top: -40px;
  width: 120%;
}

.about__image-4 {
  -webkit-clip-path: ellipse(50% 100% at 50% 0%);
          clip-path: ellipse(50% 100% at 50% 0%);
  aspect-ratio: 2/1;
  width: 90%;
}

.about__img-4 {
  position: relative;
  top: -40px;
  width: 120%;
}

.menu__container {
  position: relative;
  text-align: center;
  padding-bottom: 16.875rem;
}

.menu__container::before {
  content: "";
  position: absolute;
  width: 664px;
  height: 664px;
  border-radius: 50%;
  background: rgba(231, 141, 38, 0.2);
  -webkit-filter: blur(40px);
          filter: blur(40px);
  left: -400px;
}

.menu__sub {
  text-align: center;
  margin-bottom: 0.5rem;
}

.menu__title {
  max-width: 36.25rem;
  font-size: 3rem;
  margin: 0 auto;
  margin-bottom: 4rem;
  position: relative;
  z-index: 10;
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 10;
}

.menu__item-menu {
  padding-top: 3.125rem;
  padding-bottom: 1.875rem;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  background: #ffffff;
  -webkit-box-shadow: 0px 20px 60px rgba(82, 44, 0, 0.15);
          box-shadow: 0px 20px 60px rgba(82, 44, 0, 0.15);
  border-radius: 30px;
  max-width: 17rem;
  width: 100%;
}

.menu__icon-menu {
  font-size: 3rem;
  display: inline-block;
  padding: 14px;
  color: #e78d26;
  background: #ffe1c0;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

.menu__item-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 180%;
  margin-bottom: 1.75rem;
}

.menu__btn-menu {
  border: 1px solid #e78d26;
  border-radius: 15px;
  display: inline-block;
  padding: 0.3125rem 1.4375rem;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 180%;
  color: #e78d26;
  -webkit-transition: all 0.3s ease, -webkit-box-shadow 0.6s ease;
  transition: all 0.3s ease, -webkit-box-shadow 0.6s ease;
  -o-transition: all 0.3s ease, box-shadow 0.6s ease;
  transition: all 0.3s ease, box-shadow 0.6s ease;
  transition: all 0.3s ease, box-shadow 0.6s ease, -webkit-box-shadow 0.6s ease;
}

.menu__btn-menu:hover {
  color: #ffffff;
  background: #e78d26;
  -webkit-box-shadow: inset 10px 5px 30px 2px rgba(255, 208, 172, 0.4), 2px 2px 10px #d37203;
          box-shadow: inset 10px 5px 30px 2px rgba(255, 208, 172, 0.4), 2px 2px 10px #d37203;
}

.menu__btn-menu:active {
  -webkit-box-shadow: inset 10px 5px 60px 2px rgba(255, 208, 172, 0.1), 2px 2px 2px #d37203;
          box-shadow: inset 10px 5px 60px 2px rgba(255, 208, 172, 0.1), 2px 2px 2px #d37203;
}

.menu__deco-1 {
  position: absolute;
  top: -80px;
  right: -50px;
}

.menu__image-1 {
  position: relative;
  max-width: 18.75rem;
}

.menu__img {
  width: 100%;
}

.menu__img1-2 {
  position: absolute;
  top: 0;
  left: 0;
}

.menu__img1-3 {
  position: absolute;
  top: 0;
  left: 0;
}

.menu__img1-4 {
  position: absolute;
  top: 0;
  left: 0;
}

.menu__deco-2 {
  position: absolute;
  bottom: 0px;
  left: -80px;
}

.menu__image-2 {
  position: relative;
  max-width: 18.75rem;
}

.menu__img2-2 {
  position: absolute;
  top: 0;
  left: 0;
}

.menu__img2-3 {
  position: absolute;
  top: 0;
  left: 0;
}

.menu__img2-4 {
  position: absolute;
  top: 0;
  left: 0;
}

.popular__container {
  text-align: center;
  position: relative;
  padding-bottom: 15.625rem;
}

.popular__container::before {
  content: "";
  position: absolute;
  width: 664px;
  height: 664px;
  border-radius: 50%;
  background: rgba(231, 141, 38, 0.2);
  -webkit-filter: blur(40px);
          filter: blur(40px);
  right: -400px;
}

.popular__sub {
  margin-bottom: 0.5rem;
}

.popular__title {
  max-width: 56.25rem;
  margin: 0 auto;
  margin-bottom: 11.5625rem;
}

.popular__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

.popular__item-link {
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.popular__item-link:hover .popular__item {
  -webkit-box-shadow: 0px 15px 30px rgba(148, 53, 0, 0.3);
          box-shadow: 0px 15px 30px rgba(148, 53, 0, 0.3);
}

.popular__item {
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  background: #ffffff;
  -webkit-box-shadow: 0px 15px 60px rgba(148, 53, 0, 0.1);
          box-shadow: 0px 15px 60px rgba(148, 53, 0, 0.1);
  border-radius: 30px;
  max-width: 23.25rem;
  padding: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
}

.popular__image {
  max-width: 15rem;
  margin: 0 auto;
  margin-top: -11.25rem;
  margin-bottom: 2.25rem;
}

.popular__img {
  width: 100%;
}

.popular__title-item {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 180%;
  color: #271500;
  margin-bottom: 0.5rem;
}

.popular__text-item {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 180%;
  color: #8a8783;
  margin-bottom: 0.625rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.popular__footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular__price {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 180%;
  color: #e78d26;
}

.popular__rank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
}

.popular__icon {
  color: #ffd84c;
  font-size: 1.25rem;
}

.popular__rank-b {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 180%;
  color: #050505;
}

.popular__qty-rank {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 180%;
  color: #7b7874;
}

.serve__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
  padding-bottom: 12.5rem;
}

.serve__image {
  position: relative;
  max-width: 35.125rem;
}

.serve__image::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -50px;
  border-radius: 50%;
  width: 664px;
  height: 664px;
  border-radius: 50%;
  background: rgba(231, 141, 38, 0.2);
  -webkit-filter: blur(40px);
          filter: blur(40px);
  z-index: 1;
}

.serve__img {
  position: relative;
  z-index: 5;
  width: 100%;
  border-radius: 0 0 10% 50%;
}

.serve__img-2 {
  position: absolute;
  max-width: 5.75rem;
  right: -70px;
  z-index: 4;
  top: 150px;
  -webkit-transform: rotate(320deg);
      -ms-transform: rotate(320deg);
          transform: rotate(320deg);
  -webkit-filter: drop-shadow(2px 5px 7px #000);
          filter: drop-shadow(2px 5px 7px #000);
}

.serve__img-3 {
  position: absolute;
  max-width: 11.375rem;
  bottom: -20px;
  right: -60px;
  z-index: 11;
  -webkit-transform: rotate(354deg);
      -ms-transform: rotate(354deg);
          transform: rotate(354deg);
  -webkit-filter: drop-shadow(2px 5px 7px #000);
          filter: drop-shadow(2px 5px 7px #000);
}

.serve__content {
  max-width: 36.125rem;
}

.serve__sub {
  position: relative;
  z-index: 5;
  margin-bottom: 0.5rem;
}

.serve__title {
  text-align: left;
  font-size: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  z-index: 5;
}

.serve__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  position: relative;
  z-index: 5;
}

.serve__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.serve__icon {
  font-size: 3.25rem;
  color: #ff843f;
  padding: 0.875rem;
  border-radius: 50%;
  background: #ffe1c0;
}

.serve__item-title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 180%;
  color: #413f3d;
  margin-bottom: 0.5rem;
}

.serve__text {
  font-size: 1.125rem;
  line-height: 150%;
  color: #8a8783;
  max-width: 25.25rem;
}

.serve__deco-1 {
  position: absolute;
  top: -170px;
}

.serve__image-1 {
  position: relative;
  z-index: 4;
  -webkit-transform: rotate(192deg);
      -ms-transform: rotate(192deg);
          transform: rotate(192deg);
  max-width: 25rem;
}

.serve__img1-1 {
  width: 100%;
}

.serve__img1-2 {
  position: absolute;
  top: 0;
  left: 0;
}

.serve__img1-3 {
  position: absolute;
  top: 0;
  left: 0;
}

.serve__img1-4 {
  position: absolute;
  top: 0;
  left: 0;
}

.order__container {
  padding-top: 3.5rem;
  padding-bottom: 2.75rem;
  padding-left: 4.375rem;
  padding-right: 4.375rem;
  max-width: 75.5rem;
  position: relative;
  margin: 0 auto;
  background: #150f08;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order__container::before {
  content: "";
  position: absolute;
  width: 664px;
  height: 664px;
  border-radius: 50%;
  background: rgba(231, 141, 38, 0.2);
  -webkit-filter: blur(40px);
          filter: blur(40px);
  right: -400px;
  top: -200px;
}

.order__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  position: relative;
  z-index: 5;
}

.order__title {
  max-width: 31.9375rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2291666667;
  color: #ffffff;
  margin-bottom: 1.4375rem;
}

.order__text {
  margin-bottom: 2.625rem;
  max-width: 25.25rem;
  font-size: 1.125rem;
  line-height: 150%;
  /* or 27px */
  color: #cccbca;
}

.order__btn {
  position: relative;
  z-index: 5;
}

.order__image {
  max-width: 30.625rem;
  width: 100%;
  position: relative;
  position: absolute;
  right: -10%;
  bottom: 0px;
  max-width: 43.125rem;
}

.order__image-2 {
  max-width: 6.25rem;
  position: absolute;
  left: 45%;
  bottom: -10%;
  -webkit-transform: rotate(316deg);
      -ms-transform: rotate(316deg);
          transform: rotate(316deg);
}

.order__img {
  width: 100%;
}

.say__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  padding-top: 3.125rem;
  padding-bottom: 6.25rem;
  position: relative;
}

.say__container::before {
  content: "";
  position: absolute;
  width: 664px;
  height: 664px;
  border-radius: 50%;
  background: rgba(231, 141, 38, 0.2);
  -webkit-filter: blur(40px);
          filter: blur(40px);
  left: -400px;
  top: -100px;
}

.say__content {
  max-width: 37.875rem;
  text-align: left;
  width: 80%;
}

.say__sub {
  margin-bottom: 0.5rem;
}

.say__title {
  text-align: left;
  font-size: 3rem;
  margin-bottom: 1.625rem;
}

.say__text {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 180%;
  /* or 32px */
  color: #8a8783;
  margin-bottom: 2rem;
}

.say__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
  margin-bottom: 1rem;
}

.say__ava {
  max-width: 4.125rem;
  border-radius: 50%;
  overflow: hidden;
  background: rgb(241, 237, 237);
}

.say__ava-img {
  width: 100%;
}

.say__name {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 180%;
  /* or 32px */
  color: #221e1e;
}

.say__user-sub {
  font-size: 0.875rem;
  line-height: 180%;
  /* or 25px */
  color: #221e1e;
}

.say__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.say__icon {
  color: #ffd84c;
}

.say__icon-trans {
  color: transparent;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #ffd84c;
}

.say__qty {
  font-weight: 700;
  font-size: 1.125rem;
  color: #050505;
}

.say__image {
  max-width: 36.25rem;
  position: relative;
}

.say__image::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  left: 0px;
  top: 20px;
  background: #fff0e0;
  border-radius: 200px 50px;
}

.say__img {
  width: 100%;
  position: relative;
  z-index: 5;
}

.say__img-2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
}

@media (max-width: 75em) {
  .order__container {
    margin-right: 1.25rem;
    margin-left: 1.25rem;
  }

  .order__image {
    max-width: 25rem;
    top: -20%;
  }

  .order__image-2 {
    max-width: 9.375rem;
    left: auto;
    -webkit-transform: rotate(63deg);
        -ms-transform: rotate(63deg);
            transform: rotate(63deg);
    right: 10%;
    bottom: -20%;
  }
}

@media (max-width: 87.5em) {
  .menu__deco-1 {
    right: 0;
    top: -50px;
  }
}

@media (max-width: 61.99875em) {
  .btn {
    font-size: 1.125rem;
  }

  .header__menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .header__buttons-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__buttons {
    display: none;
  }

  .header__btn {
    font-size: 1.125rem;
  }

  .menu__body {
    position: absolute;
    z-index: 15;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: auto;
    background: #ffe1c0;
    padding-top: 7.5rem;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    -webkit-transform: translatey(-200%);
        -ms-transform: translatey(-200%);
            transform: translatey(-200%);
  }

  .menu-open .menu__body {
    opacity: 1;
    -webkit-transform: translatey(0);
        -ms-transform: translatey(0);
            transform: translatey(0);
  }

  .menu__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    margin-bottom: 0.9375rem;
  }

  .menu__link {
    font-size: 1.125rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 20;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 80%;
    height: 0.125rem;
    background: #323232;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
    right: 20%;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
    right: 10%;
    -webkit-transition: all 0.3s ease 0s, width 0.6s ease;
    -o-transition: all 0.3s ease 0s, width 0.6s ease;
    transition: all 0.3s ease 0s, width 0.6s ease;
  }

  .menu-open .icon-menu span {
    width: 0;
    right: 0%;
  }

  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    right: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__content {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: start;
        grid-template-areas: "item item3" "item1 item2";
  }

  .hero__rewiev {
    left: 20px;
    bottom: 400px;
  }

  .hero__stat {
    right: 20px;
    bottom: 200px;
  }

  .about__container {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }

  .menu__container {
    padding-bottom: 12.5rem;
  }

  .menu__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu__deco-1 {
    top: 20px;
  }

  .popular__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 150px;
  }

  .popular__item {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }

  .serve__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .serve__content {
    max-width: 100%;
  }

  .order__content {
    max-width: 70%;
  }

  .say__image {
    width: 40%;
  }

  .footer__content .item {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .footer__content .item1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .footer__content .item2 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  .footer__content .item3 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
}

@media (max-width: 61.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) {
  .footer__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__logo {
    margin-bottom: 1.875rem;
  }

  .footer__text {
    margin-bottom: 1.875rem;
  }

  .footer__list {
    gap: 15px;
  }

  .hero__container {
    padding-top: 3.125rem;
  }

  .hero__title {
    font-size: 3rem;
  }

  .hero__deco-1 {
    top: 140px;
  }

  .hero__rewiev {
    left: 0;
    bottom: 250px;
  }

  .hero__stat {
    bottom: 100px;
    right: 0;
    padding: 0.9375rem 1.125rem;
  }

  .hero__count {
    font-size: 2.625rem;
  }

  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 50px;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }

  .about__content {
    max-width: 100%;
    text-align: center;
  }

  .about__title {
    text-align: center;
    margin-bottom: 0.875rem;
  }

  .about__text {
    margin-bottom: 2.25rem;
  }

  .menu__container {
    padding-bottom: 9.375rem;
  }

  .menu__deco-2 {
    bottom: 250px;
  }

  .popular__title {
    font-size: 2.25rem;
  }

  .serve__container {
    padding-bottom: 8.75rem;
  }

  .serve__img-3 {
    max-width: 7.5rem;
    right: auto;
    left: 0;
    bottom: 0;
  }

  .order__container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .order__content {
    max-width: 90%;
  }

  .order__title {
    font-size: 2.25rem;
  }

  .order__image {
    top: -30%;
    max-width: 18.75rem;
  }

  .say__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 50px;
  }

  .say__content {
    max-width: 100%;
    width: 100%;
  }

  .say__image {
    width: 60%;
  }

  .say__image::before {
    border-radius: 100px 20px;
  }
}

@media (max-width: 36.25em) {
  .footer__content {
    -ms-grid-columns: 1fr 5px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 20px 1fr 20px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 5px;
        grid-template-areas: "item item" "item1 item2" "item3 item3";
  }

  .footer__text {
    max-width: 100%;
  }
  .footer__content .item {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .footer__content .item1 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .footer__content .item2 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .footer__content .item3 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}

@media (max-width: 29.99875em) {
  .hero__container {
    padding-top: 1.875rem;
  }

  .hero__rewiev {
    padding: 0.375rem 0.625rem;
    gap: 6px;
    bottom: 150px;
  }

  .hero__avatar-image {
    max-width: 2.5rem;
  }

  .hero__rewiev-name {
    font-size: 0.75rem;
  }

  .hero__rewiev-text {
    font-size: 0.625rem;
  }

  .hero__stat {
    padding: 0.625rem 0.75rem;
    bottom: 50px;
  }

  .hero__count {
    font-size: 2.25rem;
  }

  .hero__stat-title {
    font-size: 0.75rem;
  }

  .hero__stat-text {
    font-size: 0.625rem;
  }

  .about__title {
    font-size: 2.5rem;
  }

  .about__text {
    font-size: 1rem;
  }

  .about__btn {
    font-size: 0.875rem;
  }

  .menu__container {
    padding-bottom: 4.375rem;
  }

  .serve__container {
    padding-bottom: 4.375rem;
  }

  .order__image {
    max-width: 12.5rem;
    top: -10%;
  }

  .order__image-2 {
    max-width: 6.25rem;
  }

  .say__title {
    font-size: 2.25rem;
  }
}